*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.navbar{
  display: flex;
  justify-content: space-between;
  padding: 25px 5%;
  height: 1400;
  width: 139;
}

.nav-search{
  display: flex;
}